

body {
    font-family: sans-serif;
  }
  
  form {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .demosimao{
    padding-top: 100px;
    background-image: url(/images/simaoimages/fondo.png);
  }
  
  h1 {
    font-size: 20px;
    margin-top: 0;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  