.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.cont {
  align-items: center;
  margin: auto;
  max-width: 400px;
  padding: 0 10px;
}

.card {
  background-color: #0A0C35;
  width: 100%;
  max-width: 500px;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.other-section {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form {
  max-width: 100%;
}

h2 {
  padding: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.demosimao {
  align-items: center;
  background-color: #0A0C35;
}

.img-form {
  width: 80%;
  height: 45%;
  border-radius: 20px;
  margin-top: 20px;
}

.icon {
  font-size: 50px;
  margin-bottom: 2%;
}

.icon1 {
  margin: 0 !important;
}

@media (max-width: 759px) {
  .demosimao {
    margin-top: 6%;
  }
}

@media (max-width: 470px) {
  .demosimao {
    margin-top: 12%;
  }
}