.banner {
  background-color: #000000;
  margin: 0;
}

div {
  display: inline-block;
}

.bigger {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  position: relative;
}

.text {
  max-width: 900px;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: white;
  padding: 20px;

  &.txt-center {
    text-align: center;
  }

  a {
    color: white;
  }
}


body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #0A0C35;
}

div {
  display: inline-block;
}

.bigger {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  position: relative;
}

.text {
  max-width: 900px;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: white;
  padding: 20px;
}

.text.txt-center {
  text-align: center;
}

.text a {
  color: white;
}

.has-animation {
  position: relative;
}

.has-animation p,
.has-animation img {
  opacity: 0;
}

.has-animation.animate-in p,
.has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}

.has-animation.animate-in:before,
.has-animation.animate-in:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

.has-animation.animate-in:before {
  background-color: #2E2EE6;
}

.has-animation.animate-in:after {
  background-color: #FF761B;
  animation-delay: 0.5s;
}

.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}

.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s 0.6s ease;
}

.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}

.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s 0.6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }

  65% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }

  65% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}