.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}


.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(30% - 10rem);
  min-width: calc(25% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1500px;
  margin: .5rem;
  position: relative;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}

.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}

.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card:nth-child(even) .back {
  transform: rotateY(180deg);
}

.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}

.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}

.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {

  width: 70%;
  cursor: pointer;
  backface-visibility: hidden;
  font-size: 10px;
  color: #fff;
  padding: 0.5em;
  border-radius: 40px;
  border: none;
  position: relative;
  transition: 300ms ease;
}

.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}

.button:hover {
  transform: translateZ(55px);
}

.button:hover:before {
  transform: translateZ(-55px);
}

.button:active {
  transform: translateZ(20px);
}

.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}

.beneficios {
  background-color: #FF761B;
  padding-top: var(--vspace-1);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-pretitle,
.text-display-title,
img,
.span10 {
  flex: 1;
}

.text-pretitle,
.text-display-title {
  flex-basis: 40%;
  margin-right: 20px;

  img {
    max-width: 100%;
    height: auto;
  }

  .text-h1 {
    padding-top: 40px;
  }

  .flex-container {
    display: flex;
    align-items: flex-start;
  }


  .text-column {
    flex: 1;
    padding-right: 20px;
  }


  .image-column img {
    width: 100%;

  }

  .text-display-title {
    margin-bottom: 20px;
  }

  body {
    text-align: center;
  }

  .btncentro,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    --btn-height: var(--vspace-btn);
    display: inline-block;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: var(--text-xs);
    text-transform: uppercase;
    letter-spacing: .35em;
    height: var(--btn-height);
    line-height: calc(var(--btn-height) - 2px);
    padding: 0 3.6rem;
    margin: 0 auto var(--vspace-0_5) auto;
    /* Margen superior e inferior 0, centrando horizontalmente */
    color: var(--color-btn-text);
    text-decoration: none;
    text-align: center;
    white-space: center;
    cursor: pointer;
    transition: all .3s;
    border-radius: var(--border-radius);
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .btncentro:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus,
  .btn:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,

  input[type="button"]:hover {
    background-color: var(--color-btn-hover);
    border-color: var(--color-btn-hover);
    color: var(--color-btn-hover-text);
    outline: 0;
  }
}