.container1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sector {
  margin: auto;
}

.text-content {
  flex: 1;
  max-width: 600px;
  padding-right: 20px;
  color: white;
}

.text-content h2 {
  color: #ffffff;
}

.image-content {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.responsive-image {
  border-radius: 8px;
  width: 80%;
  height: 60%;
}

.text-1 {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .hero {
    height: 100%;
  }

  .hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/simaoimages/imagensector.png') center/cover no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .hero-content {
    max-width: 100%;
  }

  .text-content {
    max-width: 100%;
    padding-right: 0;
  }
}

.hero {
  position: relative;
  height: 78vh;
  padding-top: 3%;
  background: url('../images/simaoimages/hero.jpg') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  max-width: 50%;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Añadido para centrar el texto horizontalmente */
  min-height: 100vh;
  /* Ajusta esto según tus necesidades para centrar verticalmente */
}

.content-wrapper {
  max-width: 1200px;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 100%;
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}

@media (max-width: 768px) {
  .container1 {
    display: flex;
    flex-direction: column-reverse;
    /* Invierte el orden en dispositivos móviles */
  }

  .image-content {
    order: 1;
    /* Cambia el orden de la imagen para que esté arriba en dispositivos móviles */
    margin-bottom: 20px;
    height: auto;
  }

  .text-content {
    max-width: 100%;
    padding-right: 0;
  }
}

.img1 {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 20%;
  height: 20%;
}