.container1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-content {
  flex: 1;
  max-width: 600px;
  padding-right: 20px;
  color: white;
}

.image-content {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.responsive-image {
  border-radius: 8px;
  max-width: 100%;
  /* Ajusta el ancho máximo según tus necesidades */
  height: auto;
}

.her {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-content {
    max-width: 100%;
    padding-right: 0;
  }

  .image-content {
    margin-top: 20px;
    /* Espaciado adicional entre el texto y la imagen en dispositivos móviles */
  }

  .responsive-image {
    width: 80%;
    /* Ajusta el ancho de la imagen en dispositivos móviles */
    height: auto;
  }
}

.hero {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0A0C35;
  margin-top: 4%;
}

.hero-image {
  max-width: 100%;
  text-align: center;
}

.hero-content {
  max-width: 80%;
  text-align: center;
}

.centered-container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

@media (max-width: 768px) {
  .hero-image {
    padding: 0;
  }

  .hero {
    min-height: 28vh;
  }

  .responsive-image {
    width: 90%;
    padding: 0;
    margin: 0;
    height: auto;
  }
}

@media (max-width: 468px) {
  .hero {
    min-height: 25vh;
  }
}